{% extends "base.html" %}

{% block title %}
    Modulhandbuch, Daten ansehen 
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="/modulhandbuch/">Modulhandbuch</a></li>
    <li><a href="/modulhandbuch/ansehen">Ansehen </a></li>
    <li class="active">{{ title }}</li>
{% endblock %}


{% block content %}
    

    <h2>     {{ title }} </h2>

    <p> 
        <a href="/admin/modulhandbuch/{{ modelname|lower }}/add" class="btn btn-primary"> Hinzufügen </a>
    </p>
    <hr>
    <p/>

    <table class="table table-striped">

        {% for obj, permission  in object_list %}
        <tr>
            <td>{{ obj }} </td>
            <td> <a class="btn btn-default" href="/modulhandbuch/{{ modelname|lower }}/{{ obj.id }}">
                        SHOW
                    </a>
            </td>
            <td>
                {% if permission %}
                <a  class="btn btn-danger" href="/admin/modulhandbuch/{{ modelname|lower }}/{{ obj.id }}">
                    EDIT
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
