{% extends "base.html" %}

{% block title  %}
    Modulhandbuch
{% endblock %}
{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'mhbhome' %}">Modulhandbuch</a></li>
    <li><a href="{% url 'modulhandbuchansehen' %}">Ansehen</a></li>
    <li class="active">Abbildungen </li>
{% endblock %}


    {% block content %}
    <h2> Abbildungen </h2>

    <a href="{% url 'abbildungAdd' %}"  class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>  Hinzufügen</a>
    <p>
    </p>
        <p>
            <b> Warnung: </b> Kein Zugriffsschutz! Jeder darf alles Löschen oder Überschreiben. 
        </p>
        <h3> Liste vorhandener Abbildungen </h3>
        
        <ul>
        {% for o in object_list %}
            <li> <a href="/media/figures/{{ o.0 }}">{{ o.0 }}</a>
                <img src="/media/figures/{{ o.1 }}" class="img-thumbnail" width="304" height="236">
            </li>
        {% endfor %}
        </ul>
    </p>
    
    {% endblock %}
