{% extends "base.html" %}


{% block title  %}
    Modulhandbuch
{% endblock %}
{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'mhbhome' %}">Modulhandbuch</a></li>
    <li class="active">Ansehen</li>
{% endblock %}

{% block content %}

    <h2>   Daten ansehen oder ändern  </h2>

    <div class="panel panel-success">
        <div class="panel-heading" >
            <div class="panel-title">
                Elemente
            </div>        
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{% url 'fachgebietList' %}"  class="list-group-item"> Fachgebiete </a>  
                <a href="{% url 'lehreinheitList' %}"  class="list-group-item"> Lehreinheiten</a>   
                <a href="{% url 'lehrenderList' %}"  class="list-group-item"> Lehrende </a>  
                <a href="{% url 'lehrveranstaltungList' %}"  class="list-group-item"> Lehrveranstaltungen </a> 
                <a href="{% url 'modulList' %}"  class="list-group-item"> Module </a> 
                <a href="{% url 'organisationsformList' %}"  class="list-group-item"> Organsiationsformen der Module  </a> 
                <a href="{% url 'pruefungsformList' %}"  class="list-group-item"> Prüfungsformen </a> 
                <a href="{% url 'studiengangList' %}"  class="list-group-item">  Studiengänge </a>
                <a href="{% url 'moduletypeList' %}"  class="list-group-item">  Module Types </a>
                <a href="{% url 'texdateienList' %}"  class="list-group-item"> TeX-Templates  </a>
                <a href="{% url 'abbildungenList' %}"  class="list-group-item"> Abbildungen  </a>
                <a href="{% url 'nichtfachlichekompetenzList' %}"  class="list-group-item"> Nichtkognitive Kompetenzen  </a>
            </div>
        </div>
    </div>

{% endblock %}
