{% extends "base.html" %}


{% block title  %}
Modulhandbuch
{% endblock %}
{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="{% url 'mhbhome' %}">Modulhandbuch</a></li>
<li><a href="{% url 'modulhandbuchgenerieren' %}">Generieren </a></li>
<li class="active"> Generierte Daten </li>
{% endblock %}

{% block messages %}
{% if globalerror %}
<div class="alert alert-danger">
  Fehler! Evtl. kein PDF erzeugt - siehe unten.
  <br>{{ globalerror }}
</div>
{% endif %}
{% endblock %}

{% block content %}

<h2>  Generierte Modulhandbücher für {{ sgObj.nameDe }} </h2>

<ul>
    {% for pdf in pdfs %}
    {% if pdf.pdf %}
    <li>  {{ pdf.name }}:  <a href="{{ pdf.pdf }}"> PDF </a> </li>
    {% else %}
    <li> {{ pdf.name }}: Kein PDF erzeugt </li>
    {% endif %} 
    {% endfor %}
    <li> <a href="{{ archivepath }}"> ZIP </a> </li>
</ul>

{% comment %}
<div class="panel panel-success">
    <div class="panel-heading" >
        <div class="panel-title">
            PDFs
        </div>        
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% if error %}
            Fehler bei {{ tex }}: {{ error }}
            {% else %}
            {{ tex }}
            <a href="{{ path.pdf }}"  class="list-group-item"> PDF   </a>
            <a href="{{ path.tgz }}"  class="list-group-item"> TGZ   </a>
            {% endif %}
        </div>
        
    </div>
</div>
{% endcomment %}


{% endblock %}
